# Files and folders
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
CLAUDE.md
.gitmodules

# Virtual environments em todas as subpastas
.venv/
**/.venv/
venv/
**/venv/